<div class="country-container text-center   ">
    <div class="border rounded-top shadow-sm p-5 mb-5 bg-white rounded">
        <h1 class="country-name text-center display-4">Russia</h1> 
        <div class="text-center">
            <div class="country-region">Region: Upper Europe</div>
            <div class="country-capital">Capital: Moscow </div>
            <div class="country-income">Income Level: High Level </div>
            <div class="country-longitude">Longitude: 78.585265 </div>
            <div class="country-latitude">Latitude: 24.5625</div>
        </div>
    </div>
</div>
